
  body {
    background:#343b41;
    color:#fff;
    margin:0;
    padding:0;
  }

  * { font-family: 'sl_gothic_text', sans-serif;  }
  * { box-sizing:border-box;  }

  strong {color:#FFD841;}

  hr {
    height:1px;
    border: 0;
    border-top: solid 1px #555;
    margin: 0;
  }

  header {
    padding:20px 0px 0px;
  }
    header h1 {
      font-size:30px;
      margin: 0;
      display: inline;
    }
    header input {
      display:block;
      font-size:16px;
      border-radius:3px;
      opacity:0.3;
      padding:10px;
      color:#fff;
      background:#000;
      border:0;
      width:100%;
      height: 55px;
      margin-top: 10px;
    }
      header input:focus {
        opacity:1;
      }

  .getpos {
    float: right;
  }

  .version {
    display: inline;
    float: right;
    padding-top: 22px;
    font-size: 9px;
    font-weight: bold;
  }

  #posfound {
    font-size: 10px;
  }

  .wrapper {
    display:flex;
  }


  /* Sidebar: Line-selector */
  .side {
    width: 400px;
    font-family: 'sl_gothic_timetable', sans-serif;
    background:#1b1d1f;
    min-height:100vh;
    padding:0 20px;
    overflow:hidden;
  }
    .side h2 {
      margin: 0 0 5px 0;
      padding:10px 0;
      display:flex;
      font-size:20px;
      font-weight:bold;
      border-bottom: solid 1px #555;
    }
      .side h2 img {
        width:45px;
        height:45px;
        margin-right:10px;
      }
      .side h2 strong  {
        display:block;
      }




    .side .type {
      margin-bottom:52px;
    }

    .side .line {
      display:flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom:1px;
      padding:5px 0;
      cursor: pointer;
    }
      .side .line.inactive p,
      .side .line.inactive div {
        opacity:0.3;
      }
      .side .line.inactive:hover p,
      .side .line.inactive:hover div {
          opacity:0.8;
      }

      .side .line.inactive figure {
      height:6px;
      }


    .side .line div {
      display:flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap:wrap;
      width:50%;

    }
      .side .line figure {
        height:10px;
        flex-grow:1;
        margin:0 8px 0 -5px;
        border-radius:2px;
        border-top-left-radius:0;
        border-bottom-left-radius:0;
      }
        /*pink */
        .side .line.pink figure {
          display:none;
        }
        .side .line.pink div {
          width:100%;
        }
      .side .line label {
        padding:2px 8px;
        margin:2px 5px 2px 0;
        border-radius:3px;
        font-weight:600;
      }

      .side .line label:last-child  {
        margin:0;
      }
      .side .line p {
        font-size:80%;
        font-weight:600;
        width:50%;
        margin:0 10px 0 0;
        padding:0;
      }

      .side .line.blue label,
      .side .line.blue figure,
      label.blue{
        background: #248AC4;
      }

      .side .line.red label,
      .side .line.red figure,
      label.red {
        background: #E42C31;
      }

      .side .line.green label,
      .side .line.green figure,
      label.green {
        background: #34B15B;
      }

      .side .line.pink label,
      .side .line.pink figure,
      label.pink {
        background:#EB449E;
      }

  .content {
    width: calc(100vw - 400px);
    padding: 40px;
  }
    .map {
      position:relative;
    }
      .map img {
        max-width:100%;
      }
      .map .position {
      display:none;
        height:20px;
        width:20px;
        position:absolute;
        background:orange;
        border-radius:50%;
        transition: all 0.2s ease-in-out;
      }

      .centralen {
top: 48.4%;
    left: 61%;
      }

      .farsta_strand {
      top: 92%;
    left: 61%;
      }


@media only screen and (max-width: 900px) {
  .wrapper {
    display:block;
    min-width:320px;
  }
  .side,
  .content {
    width: 100%;
  }
  .side {
    min-height:auto;
  }

  .content {
    padding:20px;
  }

  .side .type {
    margin-bottom:20px;
  }


}


/** Testing dropdown **/

  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #eaeaea;
    min-width: 230px;
    z-index: 1;
    overflow-x: scroll;
    border-radius:3px;
    padding:7px;
    border:0;
  }

  .dropdowncontent a {
    color: black;
    padding: 5px 16px 5px 16px;
    text-decoration: none;
    display: block;
    margin-left: 3px;
  }

  .listlabel {
    display: inline!important;
  }

  .listtext {
    line-height: 28px;
  }

  div.listitem {
    display: inline;
    height:10px;
    flex-grow:1;
    margin:0 8px 0 -5px;
    border-radius:2px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }

  div.listitem label {
    padding:2px 8px;
    margin:2px 5px 2px 0;
    border-radius:3px;
    font-weight:600;
    word-spacing: 8px;
    float: right;
  }
